.credit-title {
  font-style: italic;
  font-family: "Craftopia Stars";
  margin: 1.5rem 0;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.credits-container {
  max-height: 16vw;             
  overflow-y: auto;         
  scroll-behavior: smooth;            
  margin-left: 1.5rem;
}

#att{
  font-style: italic;
  font-family: "Craftopia Stars";
  font-size: 1.3rem;
  color: white;
}

.credits-container::-webkit-scrollbar {
  width: 8px;
}

.credits-container::-webkit-scrollbar-track {
  background: transparent;
}

.credits-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 6px;
}

.credits-list {
  display: flex;
  flex-direction: column !important;
  max-height: 60vw;            
}

.credits-list li {
  display: inline-flex;        
  align-items: center;         
  gap: 10px;                   
  margin: 6px 0;
}

.credits-list li a:link{
  color: white;
}


.credits-list li a:visited{
  color: white;
}


.credits-list li a:hover{
  color: white;
}


.credits-list li a:active{
  color: white;
}

#special{
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 4px;
  width: fit-content;
  padding: 1%;
}

#special:hover{
  text-shadow: 2px 2px 5px white;
}